/* Empty. Add your own CSS if you like */
div.home-flexbox {
  position:absolute;
  width:100%;
  height:100%;
  display: flex;
  flex-direction:column;
}

.home-flex {
  flex:1;
  display:flex;
  width:100%;
  margin-bottom: 5px;
}
.home-flex-child {
   flex:1;
   display:flex;
   width:100%
 }
 table.tablePackages > tr > td {
    padding-left:5px;
    padding-right:5px;
    overflow:hidden;
 }
 td.tableCellPackage {
    padding:3px;
 }