<ion-side-menus>
    <!-- Center content -->
    <!-- <ion-side-menu-content ng-controller="ContentController">
    </ion-side-menu-content> -->

    <!-- Left menu -->
    <ion-side-menu side="left">
    </ion-side-menu>

</ion-side-menus>

<ion-pane>
    <ion-content ng-controller="FilterCtrl">
         <form novalidate style="height:100%;width:100%">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Protocol</span>
                    <input type="text" placeholder="HTTP only" disabled>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Destination Host or IP Address</span>
                    <input type="text" placeholder="Default: Any" ng-model="filter.ip" ng-init="ip" >
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Port</span>
                    <input type="text" placeholder="Default: Any" ng-model="filter.port" value="{{port}}">
                </label>
            </div>
         </form>
        <div style="margin-bottom:10px; bottom:10px">
            <button class="button button-full button-balanced pull-right" on-tap="save()">
                Save
            </button>
        </div>
    </ion-content>

</ion-pane>