<ion-side-menus>
    <!-- Center content -->
    <!-- <ion-side-menu-content ng-controller="ContentController">
    </ion-side-menu-content> -->

    <!-- Left menu -->
    <ion-side-menu side="left">
    </ion-side-menu>

</ion-side-menus>

<ion-pane>
<ion-content scroll="false" ng-controller="HomeCtrl">
<div class="home-flexbox">
    <form novalidate>
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" placeholder="Content search" ng-model="search.phrase">
            </label>
            <button class="button button-small button-clear button-positive" on-tap="searchContent($('#inputSearchContent').val())">
                Filter
            </button>
        </div>
    </form>
    <div class="row">
        <div class="col" align="left" ng-click="predicate='ip'; reverse=!reverse;">IP</div>
        <div class="col" align="center" ng-click="predicate='content'; reverse=!reverse;">Content</div>
        <div class="col" align="right" ng-click="predicate='time'; reverse=!reverse;">Time</div>
    </div>
    <div class="home-flex">
        <div class="home-flex-child">
            <ion-scroll style="width: 100%">
                <table width="100%" class="tablePackages">

                    <tr ng-repeat="package in packages | orderBy:predicate:reverse">
                        <td class="tableCellPackage" align="left">{{package.ip}}:{{package.port}}</td>
                        <td class="tableCellPackage" align="center">{{package.content | limitTo:30}}</td>
                        <td class="tableCellPackage" align="right">{{package.time}}</td>
                    </tr>

                </table>
            </ion-scroll>
        </div>
    </div>
</div>
</ion-content>
    <ion-footer-bar align-title="left">
        <div class="tabs tabs-icon-only">
            <a class="tab-item">
                <i class="icon ion-ios7-gear" ui-sref="settings"></i>
            </a>
            <a class="tab-item">
                <i class="icon ion-play"></i>
            </a>
            <a class="tab-item">
                <i class="icon ion-funnel" ui-sref="filter"></i>
            </a>
        </div>
    </ion-footer-bar>

</ion-pane>