<ion-side-menus>
    <!-- Center content -->
    <!-- <ion-side-menu-content ng-controller="ContentController">
    </ion-side-menu-content> -->

    <!-- Left menu -->
    <ion-side-menu side="left">
    </ion-side-menu>

</ion-side-menus>

<ion-pane>
    <ion-content ng-controller="SettingsCtrl">
        <ul class="list">

            <label class="item item-input item-stacked-label">
                <span class="input-label">Data Traffic Sniffer Proxy IP</span>
                <input type="text" placeholder="Default: tux.cs.drexel.edu">
            </label>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" checked>
                </label>
                Stop when in background
            </li>
        </ul>
        <button class="button button-full button-balanced" on-tap="save()">
            Save
        </button>
    </ion-content>

</ion-pane>